.banner{background-image: url(../images/contact-header.jpg);-webkit-background-size:cover;
	background-position:center;padding:250px 0;position: relative;z-index: -1;margin-top: -20px;}
.header-top nav li:nth-child(4){background-color: #333333;transition:background-color 700ms;}
.header-top nav li:nth-child(4):hover{background-color: #202020;}
.main-inner{width: 80%;margin:0 auto;padding:80px 0;}
.main-inner h2{text-align: center;}
.main-inner>p{width:50%;margin:40px auto;font-size: 1.4em;text-align: center;}
.main-inner .center{margin:0 10%;}
.left{float: left;width:25%;}
span{color: #808080;font-size: 1.6em;}
input{border:none;width:250px;background: #202020;margin-top: 10px;}
input:focus{outline:medium;background-color: #404040;}
input#name{height: 50px;margin-bottom: 20px;}
input#email{height: 50px;}
.center{float: left;width: 25%;}
input#message{height:140px;}
.right{float: left;width: 25%;}
.right h3{font-size: 2.4em;font-weight: bold;color: #fff;}
.right p{font-size: 1.4em;margin:20px 0;}
.send{width: 100%;margin:20px auto;text-align: center;}
.send a{background-color:#101010;border:2px solid #fff;padding:15px 3%;
	color: #fff;font-weight: bold;font-size:1.4em;transition:background-color 700ms,border-color 700ms,color 700ms;}
.send a:hover{background-color:#009988;border-color: transparent;color:#333;}